{% extends "onlineshop/layout.html" %}
{% load static %}

{% block title%}
Cosmic shop
{% endblock%}

{% block body %}
<div class="flex-container">
    <h1 id="welcome">Welcome to the Cosmic Online Shop</h1>
</div>
<br>
<div class="flex-container container article">
    <div class="row index">
        {% for article in articles %}
        <div class="col-lg-5 singleitem">
            <h4><a class="producttitle" href="{% url 'article_title' article.title %}">{{article.title}}</a> </h4>
            <p class="shortdescription">{{article.short_description}}</p>
            <a href="{% url 'article_title' article.title %}"><img class="productimage" src="{{article.image.url}}"
                    width="100px" height="100px"></a>
            <p class="productprice">{{article.price}}€</p>
            <button class="addbutton btn btn-primary add-btn">Add to basket
            </button>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock%}