{% extends "onlineshop/layout.html" %}
{% load static %}

{% block title%}
Cosmic shop
{% endblock%}

{% block body %}
<div class="container">
    <h1 id="welcome">Welcome to the Cosmic Online Shop</h1>
</div>
<br>
<div class="container article">
    {% for article in articles %}
    <h4><a href="{% url 'article' article.title %}">{{article.title}}</a> </h4>
    <p class="shortdescription">{{article.short_description}}</p>
    <a href="{% url 'article' article.title %}"><img class="product"
            src="{% static 'onlineshop/images/starlightinbottle.jpg' %}" width="100px" height="100px"></a>
    <br>
    <br>
    {% endfor %}
</div>
{% endblock%}