{% extends "onlineshop/layout.html" %}
{% load static %}

{% block title%}
Cosmic shop
{% endblock%}

{% block body %}
<div class="flex-container">
    <h1 id="welcome">Welcome to the Cosmic Online Shop</h1>
</div>
<br>
<div class="flex-container container article">
    <div class="row">
        {% for article in articles %}
        <div class="col-lg-5 singleitem">
            <h4><a class="producttitle" href="{% url 'article' article.title %}">{{article.title}}</a> </h4>
            <p class="shortdescription">{{article.short_description}}</p>
            <a href="{% url 'article' article.title %}"><img class="product" src="{{article.image.url}}" width="100px"
                    height="100px"></a>
            <p>{{article.price}}€</p>
        </div>
        <!--      <div class="col-lg-5 singleitem">
            <h4><a class="producttitle" href="{% url 'article' article.title %}">{{article.title}}</a> </h4>
            <p class="shortdescription">{{article.short_description}}</p>
            <a href="{% url 'article' article.title %}"><img class="product"
                    src="{% static 'onlineshop/images/starlightinbottle.jpg' %}" width="100px" height="100px"></a>
            <p>{{article.price}}€</p>
        </div>
-->
        {% endfor %}
    </div>
</div>
{% endblock%}