.navbar-nav {
   margin-left: auto;
   font-size: 10px;
}

/*.navbar-nav.flex-fill.justify-content-right {
   margin-right: 0px;
   padding-right: 0px;
}
*/
body {
   background-color: rgb(116, 110, 129);
   background: linear-gradient(90deg, rgba(85, 0, 255, 1) 0%, rgba(61, 9, 121, 1) 51%, rgba(85, 0, 255, 1) 100%);
   color: antiquewhite;
   font-family: 'Roboto', Courier, monospace;

}

.nav-link {
   color: antiquewhite;
   list-style: none;
}

.nav-link:hover {
   text-decoration: underline;
   color: antiquewhite
}

.btn.btn-primary {
   background-color: rgb(80, 55, 137);
   border: none;
}

.account {
   font-size: 10px;
   margin-top: 20px;
}

@keyframes animate {
   from {
      opacity: 0%
   }

   to {
      opacity: 100%
   }
}

@keyframes glow {
   from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #a01da5, 0 0 20px #a01da5, 0 0 25px #a01da5, 0 0 30px #a01da5, 0 0 35px #a01da5
   }

   to {
      text-shadow: 0 0 10px #fff, 0 0 15px #c34de7, 0 0 20px #c34de7, 0 0 25px #c34de7, 0 0 30px #c34de7, 0 0 35px #c34de7, 0 0 40px #c34de7;
   }
}


#welcome {
   text-align: center;
   font-size: 30px;
   animation: animate, glow ease-in-out infinite alternate;
   animation-duration: 1s;
}

/*header cart.html */
#cart {
   color: yellow
}

.price {
   animation-name: glow ease-in-out infinite alternate;

}

.navbar-nav.justify-content-center {
   color: rgb(218, 110, 185);
}

.nav-link:hover {
   text-decoration: underline;
   color: antiquewhite
}

.container.article {
   padding-top: 5px;
   text-align: center;
   border-radius: none;
   background: none;
   color: antiquewhite;

}

.singleitem {
   border: 4px dotted #5BF0C6;
   margin: 10px;
   padding-top: 10px;
   background-color: aliceblue;
   color: rgba(61, 9, 121, 1)
}

.producttitle {
   color: antiquewhite;
}

.producttitle:hover {
   color: antiquewhite;
}

ul {
   margin-right: 0px;
}

.product {
   border-radius: 10px;
   display: inline-block;
}



.shortdescription {
   font-size: 10px;
}

.flex-container {
   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
}

/* contact form styling*/
.contactform {
   flex-direction: column
}

/*button in index.html*/
.addbutton {
   text-align: center;
   margin-bottom: 10px;
}



/*header in cart.html for products in cart*/
.row.header {
   margin-bottom: 10px;
   margin-top: 20px;
   font-size: 20px;
   justify-content: center;
   align-items: center;
}

/*products added to cart.html*/
.row.cart-item {
   display: flex;
   justify-content: center;
   align-items: center;
}

/*total of all cart items in cart.html*/
.row.total {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   color: rgb(158, 236, 219);
   border-top: rgb(218, 110, 185);
   margin-top: 30px
}

/*plus and minus for quantity in cart*/
.quantity {
   display: inline-block;
   padding: 5px;
}

.item {
   display: inline-block;
   flex-direction: column;
}

.cartbutton {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 50px;
}

.shoppingbutton {
   text-align: center;
   margin-top: 10px;
   justify-content: space-around;
   margin-left: 15px;
   margin-right: 15px;
}

.cartimage {
   width: 150px;
   height: 150px;
   margin-top: 5px;
   margin-bottom: 5px;
   border-radius: 5px;
   display: inline-block;
   border: 5px solid rgb(238, 238, 102)
}



/*checkout.html*/

.outer-container {
   display: flex;
   flex-direction: row;
}

.creditcard {
   margin-top: 10px;
}

.container1 {
   margin-left: 450px;
   margin-right: 100px;
   flex-direction: row;
}

.container2 {
   justify-content: right;
}



/*article in list on checkout.html*/
.checkoutitems {
   font-size: 15px;
   display: inline-block;

}

.checkoutimage {
   width: 50px;
   height: 50px;
   border-radius: 5px;
}

.checkout.row {
   display: flex;
   justify-content: space-between
}

.checkoutitems.price {
   float: right;
   font-size: 15px;
}

/*Style the submit button with a specific background color */
#submitbutton {
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
   background-color: #45a049;
}